html, body {
  height:100%;
}

.app {
  background-color: #000;
  height: inherit;  
}

.fullscreen {
  height: inherit;
}

.map {
  height: inherit;
}

.fullscreen-table {
  height: inherit;
  width: 100%;
  display: table;
}

.fullscreen-cell {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}